<header>
    <mat-toolbar>
        <span>COEA</span>
        <span class="spacer"></span>
        <div class="contain-header">
            <button mat-icon-button class="example-icon notifications_active " aria-label="Example icon-button with heart icon">
                <mat-icon>notifications_active </mat-icon>
              </button>
              <!-- <div clas="profile-data">
                  <p>Larissa</p>
                  <p>Admin</p>
                  <mat-icon fontIcon="account_circle">account_circle</mat-icon>
              </div> -->
        </div>
      </mat-toolbar>
</header>