<nav>
    <div class="contain">
        <div class="row card-line">
            <div class="card-item">
                <a href="#">
                    <mat-card class="active">
                        <mat-icon fontIcon="dashboard">dashboard</mat-icon>
                        <mat-card-content>Dashboard</mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="card-item">
                <a href="#">
                    <mat-card>
                        <mat-icon fontIcon="assignment_ind">assignment_ind</mat-icon>
                        <mat-card-content>Vagas</mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="card-item">
                <mat-card>
                    <mat-icon fontIcon="group">group </mat-icon>
                    <mat-card-content>Colaboradores</mat-card-content>
                </mat-card>
            </div>
            <div class="card-item">
                <mat-card>
                    <mat-icon fontIcon="note_add">note_add </mat-icon>
                    <mat-card-content>Projetos</mat-card-content>
                </mat-card>
            </div>
            <div class="card-item">
                <mat-card>
                    <mat-icon fontIcon="show_chart">show_chart </mat-icon>
                    <mat-card-content>Reports</mat-card-content>
                </mat-card>
            </div>
            <div class="card-item">
                <mat-card>
                    <mat-icon fontIcon="feedback">feedback</mat-icon>
                    <mat-card-content>Feedback</mat-card-content>
                </mat-card>
            </div>
        </div>

    </div>
</nav>